html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
html{
  max-height: 100vh!important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}

body{
  font-family: "jost", "Zen Kaku Gothic New", sans-serif !important;
  color:#4b4b4b!important;
  width:400px;
  max-width: 100%;
  margin:auto;
  max-height: 100vh!important;
  background-color: #F1EFE7;
  text-align: center;
}

main {
  width:96%;
  margin:auto;
  text-align: center;
  padding-bottom:80px;
  padding-top:90px;
}

header{
  font-weight: 900;
  padding: 10px;
  margin:auto;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height:50px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

header img{
  width: 180px;
  margin:auto;
  vertical-align: middle;
}

h1{ font-size:26px;}

h2 { font-size: 20px;}

h3{
  font-size:14px;
  text-align: center;
}

#start {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  overflow-y: auto;
}

#start img{
  width: 300px
}

.keyword{
  margin:auto;
  margin-top: 30px!important;
  height:30px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyword input{
  width: 82%;
  height: 100%;
  margin-right: 10px;
  border: 1.6px solid #63676b;
}

.keyword button{
  height: 116%;
  width: 14%;
  margin:0!important;
  background-color: #63676b;
  border: 2px solid #63676b!important;
  color:#fff;
  cursor: pointer;
  text-align: center;
  border-radius: 3%;
}

.keyword button .material-symbols-outlined{
  font-size:24px;
  color:#fff;
  margin-right:0px!important;
}

.result{
  text-align: left;
  font-size:14px;
  margin:20px 5px;
}

.result div{
  margin-bottom:8px;
}

/* 2カラムのCSSによる実装 */
/* #books{
  column-count:2;
  width:96%;
  margin:auto;

}

.bookinfo{
  margin-bottom: 20px;
  background-color: #fff;
  padding:20px 10px;
  border-radius: 5px;
  font-size:12px;
  break-inside: avoid;
} */

#books{
  /* width: 96%; */
  padding-right: 0!important;
  margin-right: -20px;
}

.bookinfo{
  width: 46%;
  margin-bottom: 10px!important;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  font-size:12px;
  margin:auto;
  padding:20px 10px;
  border-radius: 5px;
}

.bookinfo img{
  width:100px;
  text-align: center;
  margin: auto;
}

#books_f{
  /* width: 96%; */
  padding-right: 0!important;
  margin-right: -20px;
}

.bookinfo_f{
  width: 46%;
  margin-bottom: 10px!important;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  font-size:12px;
  margin:auto;
  padding:20px 10px;
  border-radius: 5px;
}

.bookinfo_f img{
  width:100px;
  text-align: center;
  margin: auto;
}

.bookprofile{
  text-align: left!important;
  overflow-wrap: break-word;
}

.description{
  text-align: left!important;
  margin-bottom: 8px;
}

#popup {
  display: flex;
  align-items: center;
  justify-content: center; 
  /* vertical-align: middle; */
  width: 80%;
  max-width: 400px;
  height: 100px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 1000;
  overflow-y: auto;
}

#popup-delete {
  display: flex;
  align-items: center;
  justify-content: center; 
  /* vertical-align: middle; */
  width: 80%;
  max-width: 400px;
  height: 100px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #606060;
  color:#fff;
  z-index: 1000;
  overflow-y: auto;
}

footer {
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin:auto;
  height: 70px;
}

footer ul.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100%;
  padding: 0;
  margin: auto;
}

footer ul.menu a{
  text-decoration: none;
  color:#4b4b4b!important;
  flex: 1;
  text-align: center;
  list-style: none;
  padding: 20px 0;
  font-size:12px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size:8px;
  color:#495057;
  display: inline-flex;
  vertical-align: middle;
  margin-right:5px;
}

.regist-date{
  margin-bottom:10px;
}

/* お気に入りボタン */
.add {
  /* background-color: #63676b; */
  color:#63676b;
  border:none;
  cursor: pointer;
  margin:8px;
  vertical-align: middle;
  padding:4px 10px;
  border-radius: 2px;
}

.add .material-symbols-outlined{
  font-size:16px;
  color:#63676b;
}

.d-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 削除ボタン */
.delete {
  background-color: #c1c3c6;
  color:#fff;
  border:none;
  cursor: pointer;
  margin:8px 2px;
  vertical-align: middle;
  padding:4px 10px;
  border-radius: 2px;
}

.delete .material-symbols-outlined{
  font-size:16px;
  color:#fff;
}

/* レビューボタン */
.review {
  background-color: #ffd755;
  color:#495057;
  border:none;
  cursor: pointer;
  margin:8px 2px;
  vertical-align: middle;
  padding:4px 10px;
  border-radius: 2px;
}

.review .material-symbols-outlined{
  font-size:16px;
  color:#495057;
}

/* レビューボタン */
.review_send {
  background-color: #ffd755;
  color:#495057;
  border:none;
  cursor: pointer;
  margin:8px;
  margin-top:20px!important;
  vertical-align: middle;
  padding:4px 10px;
  border-radius: 2px;
}

.review_send .material-symbols-outlined{
  font-size:16px;
  color:#495057;
}

.review_popup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 80%;
  max-width: 400px;
  height: 270px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 1000;
  overflow-y: auto;
}

.review_popup textarea{
  border: #787878 1px solid;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

/* レビュー内容の表示 */
.reviewed{
  background-color: #fbebed;
  margin:2px;
  padding:5px 7px 10px;
  border-radius: 3%;
}

.star-rating {
  display: inline-block;
  font-size: 14px;
  color: #ccc;
  margin: 4px auto 14px;
}

.star-rating .star {
  display: inline-block;
  margin-right: 2px;
}

.star-rating .star.filled {
  color: #ffcc00;
}

.reviewed_comment{
  text-align: left;
}

/* レビュー */
.fivestar {
  display: flex;
  flex-direction: row-reverse; /*checkedの色変更を右からｎ個→左からｎ個に*/
  justify-content: center;
}

.fivestar input[type='radio']{
  display: none;
}

.fivestar label.star{
  position: relative;
  padding: 5px 3px 0;
  color: #787878;
  cursor: pointer;
  font-size: 20px;
}

.fivestar label.star:hover,
.fivestar label.star:hover ~ label.star,
.fivestar input[type='radio']:checked ~ label.star {
  color: #ffcc00;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 5px;
  font-size: 63676b;
  color: #63676b;
  background: #f3f3f3;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid #63676b;
  border-radius: 50%;
}
 
.close-btn::before, .close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5px;
  height: 12px;
  background: #63676b;
}
 
.close-btn::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
.close-btn::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

/* ローディングアニメーション */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-top-color: #000;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* フィルター */
.filters{
  border-bottom:solid #c4c4c4 1px;
  width:90%;
  text-align: center;
  cursor: pointer;
  margin:auto;
  margin-bottom:30px!important;
}
.filter-btn{
  width:50px;
  font-family: "jost", "Zen Kaku Gothic New", sans-serif !important;
  font-size:11px;
  margin-right: 15px;
}


/* ログインフォーム */
.login_msg{
  font-size:12px;
  text-align: left;
  letter-spacing:0.2cap;
}

.login_msg .hello{
  font-size:18px;
  font-weight: 700;
  line-height: 1.5;
}

.login_form{
  margin-top:30px!important;
  margin:auto;
  text-align: left;
}

.login_form .finput{
  width: 100%;
  margin-bottom: 10px;
}

.login_form .finput label{
  color: #343434;
  font-size: 12px;
  font-weight: 600;
  height: 22px;
  line-height: 1.5;
}

.login_form .finput input{
  background-color: #fff;
  border: 1px solid #adb8be;
  border-radius: 4px;
  line-height: 1.5;
  height: 46px;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  color: #4c5263;
  padding: 11px 16px;
  box-sizing: border-box;
  padding: 0 8px;
  font-family: 'Roboto', sans-serif!important;
}

.login_form .finput input::placeholder{
  font-family: 'Roboto', sans-serif!important;
}


.login_form button{
  width: 100%;
  margin: auto;
  margin-top: 10px;
  background-color: #495057;
  color: #fff;
  font-weight: 700;
  border: none;
  height: 44px;
  border-radius: 3px;
}

.consent{
  font-size:10px;
  margin:10px auto;
}

.signup_link{
  font-size:10px;
  position: fixed;
  bottom:30px;
  left:50%;
  transform: translateX(-50%);
  text-align: center;
}

.error_msg{
  color:#d52300;
  font-size: 12px;
  font-weight: 500;
  margin-top:2px;
}

ul.mypage_menu{
  list-style: none;
  padding:0;
}

ul.mypage_menu li{
  margin-bottom: 30px;
}
.mypage_menu a{
  text-decoration: none;
  color:#343434;
}